<%= form_for(@task) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div>  <%= f.label :details %>
    <%= f.text_field :details, class: 'form-control' %>
  </div>

  <div>
    <%= f.label :completed %>
    <%= f.text_field :completed, class: 'form-control'%>
  </div>

  <%= f.submit class: 'btn btn-primary'%>

<% end %>
